@media only screen and (max-width: 320px){
    p{
        font-size: 10px;
    }
    .Titulo-Principal{
        grid-template-rows: 1fr 1fr;
    }
    .Primer-Titulo{
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        font-size: 20px;
    }
    .Lorem{
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        margin-top: 35%;
    }
    .Boton-Info{
        font-size: 10px;
        margin-top: 0px;
        margin-bottom: 100%;
        padding: 1%;
        width: 25%;
        grid-column: 1 / 1;
        grid-row: 2 / 2;
    }
    .Img-Oficina{
        grid-column: 2 / 2;
        grid-row: 1 / 1;
        width: 100%;
        height: 90%;
    }
    .Titulo-Secundario{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
      }          
    .Segundo-Titulo{
        color: #8e8e8e;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        font-size: 20px;
    }
    
    .Lorem-Exp{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        margin-top: 15%;
    }
    
    .Img-Experiencia{
     width: 100%;
     height: 100%;
     grid-column: 1 / 2;
     grid-row: 1 / 2;
     margin-left: 1%;
     border: black 4px solid;
    }
    
    .Boton-Experiencia{
       border: 2px black solid;
       text-decoration: none;
       color: black;
       background-color: #8E8FA2;
       grid-column: 2 / 3;
       grid-row: 2 / 3;
       margin-left: 75%;
       margin-bottom: 80%;
       width: 25%;
       font-size: 10px;
       text-align: center;
       
    }
    .Servicios{
        display: grid;
        grid-template-columns: 1fr  ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
    }
    
    .Borde-Titulo-Servicios{
        border: white 2px solid;
        width: 100%;
        grid-column: 1 / 3;
        grid-row: 1 / 1;
    }
    
    .Titulo-Servicios{
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        margin-left: 20%;
        margin-top: 15%;
    }
    
    .Servicio-Mensual{
        width: 70%;
        height: 90%;
        margin-left: 15%;
        margin-top: 4%;
        grid-column: 1 / 1;
        grid-row: 2 / 4;
        background-color: #474747;
    }
    
    .Servicio-Anual{
        width: 70%;
        height: 90%;
        margin-top: 4%;
        margin-left: 15%;
        grid-column: 1 / 1;
        grid-row: 5 / 8;
        background-color: #474747;
    }
    
    .Titulo-Servicio-Mensual{
        grid-column: 1 / 2;
        grid-row: 2 / 2;
        margin-left: 35%;
        margin-top: 5%;
        font-size: 25px;
    }
    
    .Titulo-Servicio-Anual{
        grid-column: 1 / 1;
        grid-row: 5 / 6;
        margin-left: 42%;
        margin-top: 5%;
        font-size: 25px;
    }
    .Texto-Servicio-Mensual{
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        margin-left: 16%;
        padding-top: 25%;
    }
    
    .Texto-Servicio-Anual{
        grid-column: 1 / 1;
        grid-row: 5 / 6;
        margin-left: 16%;
        padding-top: 22%;
    }
    
    .Boton-Servicios-Uno{
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        margin: 0% 25% 40% 30%;
        padding-top: 2%;
    }
    
    .Boton-Servicios-Dos{
        grid-column: 1 / 1;
        grid-row: 6 / 6;
        margin: 0% 25% 40% 30%;
        padding-top: 2%;
    }

    .Titulo-Contactame{
        margin: 1% 0 1% 0%;
    }

    .Boton-Enviar{
        margin: 2% 1% 10% 75%;
        text-align: center;
        text-decoration: none;
        color: black;
        border: 2px solid black;
        background-color: #8E8FA2;
    }

    .Titulo-Principal-Info{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    
    .Img-Oficina-Info{
        width: 100%;
        height: 50%;
        grid-column: 2 / 3;
        grid-row: 1 / 1;
    }
    
    .Lorem-Titulo-Principal-Info{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin-top: 40%;
        margin-bottom: 10%;
        font-size: 8px;
    }

    .Titulo-Secundario-Info{
        grid-template-rows: 60% 1fr;
    }
    
    .Lorem-Titulo-Secundario-Info{
        grid-column: 2 / 3;
        grid-row: 1 / 1;
        margin-top: 20%;
    }
    
    .Tercer-Titulo-Info{
        font-size: 40px;
        padding-left: 20%;

    }
    
    .Titulo-Contactame-Info{
        margin: 1% 0 1% 0%;
    }
    
    .Boton-Enviar-Info{
        margin: 2% 1% 10% 75%;
    }
    
    .Titulo-Exp {
        font-size: 60px;
    }
    
    .Titulo-Pagina-Web-Exp{
        font-size: 40px;
    }

    .Titulo-Contactame-Exp{
        margin: 1% 0 1% 0%;
    }

    .Boton-Enviar-Exp{
        margin: 2% 1% 10% 75%;
    }

    .Titulo-Serv{
        font-size: 80px;
    }
    
    .Servicio-Mensual-Serv{
        width: 95%;
        height: 250px;
        margin-left: 3%;
    }
    
    .Servicio-Anual-Serv{
        width: 90%;
        height: 250px;
        margin-left: 5%;
    }
    
    .Titulo-Servicio-Mensual-Serv{
        margin-left: 30%;
        font-size: 20px;
    }
    
    .Titulo-Servicio-Anual-Serv{
        margin-left: 35%;
        font-size: 20px;    
    }
    
    .Texto-Servicio-Mensual-Serv{
        padding-top: 20%;
        margin-left: 7%;
    }
    
    .Texto-Servicio-Anual-Serv{
        padding-top: 20%;
        margin-left: 8%;
    }
    
    .Titulo-Contactame-Serv{
        margin: 1% 0 1% 0%;
    }
    
    .Boton-Enviar-Serv{
        margin: 2% 1% 10% 75%;
    }

    .Titulo-Con{
        font-size: 400%;
    }
    
    .Link-Mail{
        font-size: 150%;
    }

    .Titulo-Redes-Con{
        font-size: 250%;
        color: black;
    }

    .Titulo-Contactame-Con{
        margin: 1% 0 1% 0%;
    }
    
    .Boton-Enviar-Con{
        margin: 2% 1% 10% 75%;
    }
}

@media only screen and (min-width:321px) and (max-width: 480px){
    p{
        font-size: 15px;
    }

    .Titulo-Principal{
        grid-template-rows: 1fr ;
    }

    .Primer-Titulo{
            grid-column: 1 / 1;
            grid-row: 1 / 1;
            font-size: 20px;
    }

    .Lorem{
            grid-column: 1 / 1;
            grid-row: 1 / 1;
            margin-top: 15%;
    }

    .Boton-Info{
            font-size: 15px;
            margin-top: 100%;
            padding: 1%;
            width: 40%;
            grid-column: 1 / 1;
            grid-row: 1 / 1;
    }

    .Img-Oficina{
        grid-column: 2 / 2;
        grid-row: 1 / 1;
        width: 100%;
        height: 90%;
    }

    .Titulo-Secundario{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
        margin-top: 20%;
    }
          
    .Segundo-Titulo{
        color: #8e8e8e;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        font-size: 20px;
    }

    .Lorem-Exp{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        margin-top: 15%;
    }
    
    .Img-Experiencia{
     width: 100%;
     height: 100%;
     grid-column: 1 / 2;
     grid-row: 1 / 2;
     margin-left: 1%;
    }
    
    .Boton-Experiencia{
       grid-column: 2 / 3;
       grid-row: 2 / 3;
       margin-left: 60%;
       margin-bottom: 85%;
       width: 40%;
       font-size: 15px;
    }

    .Servicios{
        display: grid;
        grid-template-columns: 1fr  ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
    }
    
    .Borde-Titulo-Servicios{
        border: white 2px solid;
        width: 100%;
        height: 50%;
        grid-column: 1 / 3;
        grid-row: 1 / 1;
    }
    
    .Titulo-Servicios{
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        margin-left: 30%;
        margin-top: 5%;
    }
    
    .Servicio-Mensual{
        width: 70%;
        height: 90%;
        margin-left: 15%;
        margin-top: 4%;
        grid-column: 1 / 1;
        grid-row: 2 / 4;
        background-color: #474747;
    }
    
    .Servicio-Anual{
        width: 70%;
        height: 90%;
        margin-top: 4%;
        margin-left: 15%;
        grid-column: 1 / 1;
        grid-row: 5 / 8;
        background-color: #474747;
    }
    
    .Titulo-Servicio-Mensual{
        grid-column: 1 / 2;
        grid-row: 2 / 2;
        margin-left: 35%;
        margin-top: 5%;
        font-size: 40px;
    }
    
    .Titulo-Servicio-Anual{
        grid-column: 1 / 1;
        grid-row: 5 / 6;
        margin-left: 42%;
        margin-top: 5%;
        font-size: 40px;
    }
    .Texto-Servicio-Mensual{
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        margin-left: 16%;
        padding-top: 25%;
    }
    
    .Texto-Servicio-Anual{
        grid-column: 1 / 1;
        grid-row: 5 / 6;
        margin-left: 16%;
        padding-top: 22%;
    }
    
    .Boton-Servicios-Uno{
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        margin: 0% 25% 40% 25%;
        padding-top: 2%;
        font-size: 25px;
    }
    
    .Boton-Servicios-Dos{
        grid-column: 1 / 1;
        grid-row: 6 / 6;
        margin: 0% 25% 40% 25%;
        padding-top: 2%;
        font-size: 25px;

    }

    .Titulo-Contactame{
        margin: 1% 0 1% 0%;
    }

    .Boton-Enviar{
        margin: 2% 1% 10% 75%;
    }

    .Titulo-Principal-Info{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    
    .Img-Oficina-Info{
        width: 100%;
        height: 50%;
        grid-column: 2 / 3;
        grid-row: 1 / 1;
    }
    
    .Lorem-Titulo-Principal-Info{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin-top: 30%;
        margin-bottom: 10%;
        font-size: 10px;
    }

    .Titulo-Secundario-Info{
        grid-template-rows: 60% 1fr;
    }
    
    .Lorem-Titulo-Secundario-Info{
        grid-column: 2 / 3;
        grid-row: 1 / 1;
        margin-top: 15%;
    }
    
    .Tercer-Titulo-Info{
        font-size: 40px;
        padding-left: 15%;

    }

    .Titulo-Contactame-Info{
        margin: 1% 0 1% 0%;
    }
    
    .Boton-Enviar-Info{
        margin: 2% 1% 10% 75%;
    }

    .Titulo-Exp {
        font-size: 85px;
    }
    
    .Titulo-Pagina-Web-Exp{
        font-size: 60px;
    }

    .Titulo-Contactame-Exp{
        margin: 1% 0 1% 0%;
    }

    .Boton-Enviar-Exp{
        margin: 2% 1% 10% 75%;
    }

    .Titulo-Serv{
        font-size: 80px;
    }
    
    .Servicio-Mensual-Serv{
        width: 95%;
        height: 250px;
        margin-left: 3%;
    }
    
    .Servicio-Anual-Serv{
        width: 93%;
        height: 250px;
        margin-left: 5%;
    }
    
    .Titulo-Servicio-Mensual-Serv{
        margin-left: 30%;
        font-size: 20px;
    }
    
    .Titulo-Servicio-Anual-Serv{
        margin-left: 35%;
        font-size: 20px;    
    }
    
    .Texto-Servicio-Mensual-Serv{
        padding-top: 15%;
        margin-left: 7%;
    }
    
    .Texto-Servicio-Anual-Serv{
        padding-top: 15%;
        margin-left: 7%;
        font-size: 14px;
    }
    
    .Titulo-Contactame-Serv{
        margin: 1% 0 1% 0%;
    }
    
    .Boton-Enviar-Serv{
        margin: 2% 1% 10% 75%;
    }

    .Titulo-Contactame-Con{
        margin: 1% 0 1% 0%;
    }
    
    .Boton-Enviar-Con{
        margin: 2% 1% 10% 75%;
    }
}

@media only screen and (min-width:481px) and (max-width: 600px){

    p{
        font-size: 15px;
    }

    .Titulo-Principal{
        grid-template-rows: 1fr ;
    }

    .Primer-Titulo{
            grid-column: 1 / 1;
            grid-row: 1 / 1;
            font-size: 25px;
    }

    .Lorem{
            grid-column: 1 / 1;
            grid-row: 1 / 1;
            margin-top: 15%;
    }

    .Boton-Info{
            font-size: 15px;
            margin-top: 75%;
            padding: 1%;
            width: 40%;
            grid-column: 1 / 1;
            grid-row: 1 / 1;
    }

    .Img-Oficina{
        grid-column: 2 / 2;
        grid-row: 1 / 1;
        width: 100%;
        height: 90%;
    }

    .Titulo-Secundario{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin-top: 20%;
    }
          
    .Segundo-Titulo{
        color: #8e8e8e;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        font-size: 30px;
    }

    .Lorem-Exp{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        margin-top: 15%;
    }
    
    .Img-Experiencia{
     width: 100%;
     height: 100%;
     grid-column: 1 / 2;
     grid-row: 1 / 2;
     margin-left: 1%;
    }
    
    .Boton-Experiencia{
       grid-column: 2 / 3;
       grid-row: 2 / 3;
       margin-left: 60%;
       margin-bottom: 85%;
       width: 40%;
       font-size: 15px;
    }

    .Servicios{
        display: grid;
        grid-template-columns: 1fr  ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
    }
    
    .Borde-Titulo-Servicios{
        border: white 2px solid;
        width: 100%;
        height: 50%;
        grid-column: 1 / 3;
        grid-row: 1 / 1;
    }
    
    .Titulo-Servicios{
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        margin-left: 25%;
        margin-top: 4%;
        font-size: 80px;
    }
    
    .Servicio-Mensual{
        width: 70%;
        height: 90%;
        margin-left: 15%;
        margin-top: 4%;
        grid-column: 1 / 1;
        grid-row: 2 / 4;
        background-color: #474747;
    }
    
    .Servicio-Anual{
        width: 70%;
        height: 90%;
        margin-top: 4%;
        margin-left: 15%;
        grid-column: 1 / 1;
        grid-row: 5 / 8;
        background-color: #474747;
    }
    
    .Titulo-Servicio-Mensual{
        grid-column: 1 / 2;
        grid-row: 2 / 2;
        margin-left: 30%;
        margin-top: 5%;
        font-size: 70px;
    }
    
    .Titulo-Servicio-Anual{
        grid-column: 1 / 1;
        grid-row: 5 / 6;
        margin-left: 37%;
        margin-top: 5%;
        font-size: 70px;
    }

    .Texto-Servicio-Mensual{
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        margin-left: 16%;
        padding-top: 25%;
        font-size: 18px;
    }
    
    .Texto-Servicio-Anual{
        grid-column: 1 / 1;
        grid-row: 5 / 6;
        margin-left: 16%;
        padding-top: 22%;
        font-size: 18px;
    }
    
    .Boton-Servicios-Uno{
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        margin: 0% 25% 40% 25%;
        padding-top: 2%;
        font-size: 25px;
    }
    
    .Boton-Servicios-Dos{
        grid-column: 1 / 1;
        grid-row: 6 / 6;
        margin: 0% 25% 40% 25%;
        padding-top: 2%;
        font-size: 25px;

    }
    
    .Titulo-Contactame{
        margin: 1% 0 1% 0%;
    }

    .Boton-Enviar{
        margin: 2% 1% 10% 75%;
    }

    .Titulo-Principal-Info{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    
    .Img-Oficina-Info{
        width: 100%;
        height: 50%;
        grid-column: 2 / 3;
        grid-row: 1 / 1;
    }
    
    .Lorem-Titulo-Principal-Info{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin-top: 15%;
        margin-bottom: 10%;
        font-size: 15px;
    }

    .Titulo-Secundario-Info{
        grid-template-rows: 60% 1fr;
    }

    .Segundo-Titulo-Info{
        font-size: 35px;
    }
    
    .Lorem-Titulo-Secundario-Info{
        grid-column: 2 / 3;
        grid-row: 1 / 1;
        margin-top: 15%;
    }
    
    .Tercer-Titulo-Info{
        font-size: 40px;
        padding-left: 20%;
    }

    .Titulo-Contactame-Info{
        margin: 1% 0 1% 0%;
    }
    
    .Boton-Enviar-Info{
        margin: 2% 1% 10% 75%;
    }

    .Titulo-Exp {
        font-size: 85px;
    }
    
    .Titulo-Pagina-Web-Exp{
        font-size: 60px;
    }

    .Titulo-Contactame-Exp{
        margin: 1% 0 1% 0%;
    }

    .Boton-Enviar-Exp{
        margin: 2% 1% 10% 75%;
    }

    .Titulo-Serv{
        font-size: 80px;
    }
    
    .Servicio-Mensual-Serv{
        width: 95%;
        height: 250px;
        margin-left: 3%;
    }
    
    .Servicio-Anual-Serv{
        width: 93%;
        height: 250px;
        margin-left: 5%;
    }
    
    .Titulo-Servicio-Mensual-Serv{
        margin-left: 30%;
        font-size: 20px;
    }
    
    .Titulo-Servicio-Anual-Serv{
        margin-left: 35%;
        font-size: 20px;    
    }
    
    .Texto-Servicio-Mensual-Serv{
        padding-top: 15%;
        margin-left: 6%;
    }
    
    .Texto-Servicio-Anual-Serv{
        padding-top: 15%;
        margin-left: 7%;
        font-size: 15px;
    }
    
    .Titulo-Contactame-Serv{
        margin: 1% 0 1% 0%;
    }
    
    .Boton-Enviar-Serv{
        margin: 2% 1% 10% 75%;
    }

    .Titulo-Contactame-Con{
        margin: 1% 0 1% 0%;
    }
    
    .Boton-Enviar-Con{
        margin: 2% 1% 10% 75%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px){
    p{
        font-size: 15px;
    }

    .Titulo-Principal{
        grid-template-rows: 1fr ;
    }

    .Primer-Titulo{
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        font-size: 25px;
    }

    .Lorem{
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        margin-top: 10%;
    }

    .Boton-Info{
        font-size: 20px;
        margin-top: 45%;
        padding: 1%;
        width: 40%;
        grid-column: 1 / 1;
        grid-row: 1 / 1;
    }

    .Img-Oficina{
        grid-column: 2 / 2;
        grid-row: 1 / 1;
        width: 100%;
        height: 90%;
    }
    
    .Titulo-Secundario{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin-top: 20%;
    }
          
    .Segundo-Titulo{
        color: #8e8e8e;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        font-size: 30px;
    }

    .Lorem-Exp{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        margin-top: 15%;
    }
    
    .Img-Experiencia{
     width: 100%;
     height: 100%;
     grid-column: 1 / 2;
     grid-row: 1 / 2;
     margin-left: 1%;
    }
    
    .Boton-Experiencia{
       grid-column: 2 / 3;
       grid-row: 1 / 2;
       margin-left: 60%;
       margin-top: 55%;
       padding-top: 1%;
       width: 40%;
       font-size: 20px;
    }

    .Servicios{
        display: grid;
        grid-template-columns: 1fr  ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
        margin-top: 10%;
    }
    
    .Borde-Titulo-Servicios{
        border: white 2px solid;
        width: 100%;
        height: 50%;
        grid-column: 1 / 3;
        grid-row: 1 / 1;
    }
    
    .Titulo-Servicios{
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        margin-left: 25%;
        margin-top: 5%;
        font-size: 95px;
    }
    
    .Servicio-Mensual{
        width: 70%;
        height: 90%;
        margin-left: 15%;
        margin-top: 4%;
        grid-column: 1 / 1;
        grid-row: 2 / 4;
        background-color: #474747;
    }
    
    .Servicio-Anual{
        width: 70%;
        height: 90%;
        margin-top: 4%;
        margin-left: 15%;
        grid-column: 1 / 1;
        grid-row: 5 / 8;
        background-color: #474747;
    }
    
    .Titulo-Servicio-Mensual{
        grid-column: 1 / 2;
        grid-row: 2 / 2;
        margin-left: 30%;
        margin-top: 5%;
        font-size: 85px;
    }
    
    .Titulo-Servicio-Anual{
        grid-column: 1 / 1;
        grid-row: 5 / 6;
        margin-left: 38%;
        margin-top: 5%;
        font-size: 85px;
    }

    .Texto-Servicio-Mensual{
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        margin-left: 16%;
        padding-top: 25%;
        font-size: 20px;
    }
    
    .Texto-Servicio-Anual{
        grid-column: 1 / 1;
        grid-row: 5 / 6;
        margin-left: 16%;
        padding-top: 22%;
        font-size: 20px;
    }
    
    .Boton-Servicios-Uno{
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        margin: 0% 25% 40% 25%;
        padding-top: 1%;
        font-size: 35px;
    }
    
    .Boton-Servicios-Dos{
        grid-column: 1 / 1;
        grid-row: 6 / 6;
        margin: 0% 25% 40% 25%;
        padding-top: 1%;
        font-size: 35px;
    }
    
    .Titulo-Contactame{
        margin: 1% 0 1% 10%;
    }

    .Boton-Enviar{
        margin: 2% 1% 10% 75%;
    }

    .Titulo-Principal-Info{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .Primer-Titulo-Info{
        font-size: 30px;
    }
    
    .Img-Oficina-Info{
        width: 100%;
        height: 50%;
        grid-column: 2 / 3;
        grid-row: 1 / 1;
    }
    
    .Lorem-Titulo-Principal-Info{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin-top: 12%;
        margin-bottom: 10%;
        font-size: 20px;
    }

    .Titulo-Secundario-Info{
        grid-template-rows: 60% 1fr;
    }

    .Segundo-Titulo-Info{
        font-size: 40px;
    }
    
    .Lorem-Titulo-Secundario-Info{
        grid-column: 2 / 3;
        grid-row: 1 / 1;
        margin-top: 15%;
        font-size: 18px;
    }
    
    .Tercer-Titulo-Info{
        font-size: 50px;
        padding-left: 22%;
    }

    .Titulo-Contactame-Info{
        margin: 1% 0 1% 10%;
    }
    
    .Boton-Enviar-Info{
        margin: 2% 1% 10% 75%;
    }

    .Titulo-Exp {
        font-size: 100px;
    }
    
    .Titulo-Pagina-Web-Exp{
        font-size: 70px;
    }

    .Titulo-Contactame-Exp{
        margin: 1% 0 1% 10%;
    }

    .Boton-Enviar-Exp{
        margin: 2% 1% 10% 75%;
    }

    .Titulo-Serv{
        font-size: 80px;
    }
    
    .Servicio-Mensual-Serv{
        width: 95%;
        height: 250px;
        margin-left: 3%;
    }
    
    .Servicio-Anual-Serv{
        width: 93%;
        height: 250px;
        margin-left: 5%;
    }
    
    .Titulo-Servicio-Mensual-Serv{
        margin-left: 35%;
        font-size: 35px;
    }
    
    .Titulo-Servicio-Anual-Serv{
        margin-left: 40%;
        font-size: 35px;    
    }
    
    .Texto-Servicio-Mensual-Serv{
        padding-top: 15%;
        margin-left: 6%;
        font-size: 16px;
    }
    
    .Texto-Servicio-Anual-Serv{
        padding-top: 15%;
        margin-left: 7%;
        font-size: 17px;
    }
    
    .Titulo-Contactame-Serv{
        margin: 1% 0 1% 10%;
    }
    
    .Boton-Enviar-Serv{
        margin: 2% 1% 10% 75%;
    }

    .Titulo-Contactame-Con{
        margin: 1% 0 1% 10%;
    }
    
    .Boton-Enviar-Con{
        margin: 2% 1% 10% 75%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
    .Titulo-Principal{
        grid-template-rows: 1fr ;
    }

    .Primer-Titulo{
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        font-size: 45px;
    }

    .Lorem{
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        margin-top: 10%;
        font-size: 20px;
    }

    .Boton-Info{
        font-size: 25px;
        margin-top: 40%;
        margin-bottom: 10%;
        padding: 1%;
        width: 40%;
        grid-column: 1 / 1;
        grid-row: 1 / 1;
    }

    .Img-Oficina{
        grid-column: 2 / 2;
        grid-row: 1 / 1;
        width: 100%;
        height: 90%;
    }
    
    .Titulo-Secundario{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin-top: 10%;
    }
          
    .Segundo-Titulo{
        color: #8e8e8e;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        font-size: 50px;
    }

    .Lorem-Exp{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        margin-top: 15%;
        font-size: 20px;
    }
    
    .Img-Experiencia{
     width: 100%;
     height: 100%;
     grid-column: 1 / 2;
     grid-row: 1 / 2;
     margin-left: 1%;
    }
    
    .Boton-Experiencia{
       grid-column: 2 / 3;
       grid-row: 1 / 2;
       margin-left: 60%;
       margin-top: 50%;
       margin-bottom: 10%;
       padding-top: 1%;
       width: 40%;
       font-size: 25px;
    }

    .Servicios{
        display: grid;
        grid-template-columns: 1fr  ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
        margin-top: 10%;
    }
    
    .Borde-Titulo-Servicios{
        border: white 2px solid;
        width: 100%;
        height: 50%;
        grid-column: 1 / 3;
        grid-row: 1 / 1;
    }
    
    .Titulo-Servicios{
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        margin-left: 30%;
        margin-top: 5%;
        font-size: 100px;
    }
    
    .Servicio-Mensual{
        width: 70%;
        height: 90%;
        margin-left: 15%;
        margin-top: 4%;
        grid-column: 1 / 1;
        grid-row: 2 / 4;
        background-color: #474747;
    }
    
    .Servicio-Anual{
        width: 70%;
        height: 90%;
        margin-top: 4%;
        margin-left: 15%;
        grid-column: 1 / 1;
        grid-row: 5 / 8;
        background-color: #474747;
    }
    
    .Titulo-Servicio-Mensual{
        grid-column: 1 / 2;
        grid-row: 2 / 2;
        margin-left: 35%;
        margin-top: 5%;
        font-size: 90px;
    }
    
    .Titulo-Servicio-Anual{
        grid-column: 1 / 1;
        grid-row: 5 / 6;
        margin-left: 40%;
        margin-top: 5%;
        font-size: 95px;
    }

    .Texto-Servicio-Mensual{
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        margin-left: 16%;
        padding-top: 25%;
        font-size: 30px;
    }
    
    .Texto-Servicio-Anual{
        grid-column: 1 / 1;
        grid-row: 5 / 6;
        margin-left: 16%;
        padding-top: 22%;
        font-size: 30px;
    }
    
    .Boton-Servicios-Uno{
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        margin: 0% 25% 40% 25%;
        padding-top: 1%;
        font-size: 40px;
    }
    
    .Boton-Servicios-Dos{
        grid-column: 1 / 1;
        grid-row: 6 / 6;
        margin: 0% 25% 40% 25%;
        padding-top: 1%;
        font-size: 40px;
    }

    .Titulo-Contactame{
        margin: 2% 0 1% 25%;
    }

    .Boton-Enviar{
        margin: 2% 1% 10% 75%;
    }

    .Titulo-Principal-Info{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .Primer-Titulo-Info{
        font-size: 45px;
    }
    
    .Img-Oficina-Info{
        width: 100%;
        height: 50%;
        grid-column: 2 / 3;
        grid-row: 1 / 1;
    }
    
    .Lorem-Titulo-Principal-Info{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin-top: 12%;
        margin-bottom: 10%;
        font-size: 20px;
    }

    .Titulo-Secundario-Info{
        grid-template-rows: 60% 1fr;
    }

    .Segundo-Titulo-Info{
        font-size: 50px;
    }
    
    .Lorem-Titulo-Secundario-Info{
        grid-column: 2 / 3;
        grid-row: 1 / 1;
        margin-top: 15%;
        font-size: 18px;
    }
    
    .Tercer-Titulo-Info{
        font-size: 60px;
        padding-left: 25%;
    }

    .Titulo-Contactame-Info{
        margin: 2% 0 1% 25%;
    }
    
    .Boton-Enviar-Info{
        margin: 2% 1% 10% 75%;
    }

    .Titulo-Contactame-Exp{
        margin: 2% 0 1% 25%;
    }

    .Boton-Enviar-Exp{
        margin: 2% 1% 10% 75%;
    }

    .Titulo-Serv{
        font-size: 100px;
    }
    
    .Servicio-Mensual-Serv{
        width: 95%;
        height: 250px;
        margin-left: 3%;
    }
    
    .Servicio-Anual-Serv{
        width: 93%;
        height: 250px;
        margin-left: 5%;
    }
    
    .Titulo-Servicio-Mensual-Serv{
        margin-left: 35%;
        font-size: 45px;
    }
    
    .Titulo-Servicio-Anual-Serv{
        margin-left: 40%;
        font-size: 45px;    
    }
    
    .Texto-Servicio-Mensual-Serv{
        padding-top: 15%;
        margin-left: 6%;
        font-size: 20px;
    }
    
    .Texto-Servicio-Anual-Serv{
        padding-top: 15%;
        margin-left: 7%;
        font-size: 19px;
    }
    
    .Titulo-Contactame-Serv{
        margin: 2% 0 1% 25%;
    }
    
    .Boton-Enviar-Serv{
        margin: 2% 1% 10% 75%;
    }

    .Titulo-Contactame-Con{
        margin: 2% 0 1% 25%;
    }
    
    .Boton-Enviar-Con{
        margin: 2% 1% 10% 75%;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px){
    .Boton-Info{
        margin-top: 5%;
    }

    .Lorem-Exp{
        margin-top: 5%;
        margin-left: 20%;
    }

    .Boton-Experiencia{
        margin-left: 60%;
        margin-top: 50%;
        margin-bottom: 10%;
        padding-top: 1%;
        width: 40%;
     }

     .Titulo-Secundario{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin-top: 10%;
        margin-bottom: 10%;
    }
          
    .Segundo-Titulo{
        color: #8e8e8e;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        font-size: 60px;
    }

    .Lorem-Exp{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        margin-top: 15%;
        font-size: 20px;
    }
    
    .Img-Experiencia{
     width: 100%;
     height: 100%;
     grid-column: 1 / 2;
     grid-row: 1 / 2;
     margin-left: 1%;
    }
    
    .Boton-Experiencia{
       grid-column: 2 / 3;
       grid-row: 1 / 2;
       margin-left: 80%;
       margin-top: 41%;
       margin-bottom: 15%;
       padding-top: 1%;
       width: 20%;
       font-size: 20px;
    }

    .Titulo-Servicios{
        font-size: 70px;
        margin-left: 15%;
    }

    .Servicio-Mensual{
        width: 85%;
        background-color: #474747;
    }

    .Servicio-Anual{
        width: 90%;
        background-color: #474747;
    }

    .Titulo-Servicio-Anual{
        margin-left: 30%;
    }

    .Boton-Servicios-Uno{
        margin-left: 40%;
        margin-right: 20%;
        margin-top: 20%;
        padding-top: 2%;
        font-size: 25px;
    }

    .Boton-Servicios-Dos{
        margin-left: 25%;
        margin-right: 35%;
        margin-top: 20%;
        font-size: 25px;
    }

    .Titulo-Contactame{
        font-size: 50px;
        margin-left: 20%;
    }

    .Boton-Enviar{
        margin-bottom: 5%;
        font-size: 25px;
    }

    .Titulo-Informacion{
        font-size: 80px;
    }

    .Primer-Titulo-Info{
        font-size: 50px;
    }

    .Lorem-Titulo-Principal-Info{
        margin-top: 10%;
    }

    .Segundo-Titulo-Info{
        font-size: 60px;
    }

    .Lorem-Titulo-Secundario-Info{
        margin-top: 15%;
        margin-left: 5%;
    }

    .Tercer-Titulo-Info{
        font-size: 70px;
        padding-left: 25%;
    }

    .Titulo-Contactame-Info{
        font-size: 50px;
        margin-left: 20%;
    }

    .Boton-Enviar-Info{
        margin-bottom: 5%;
        font-size: 25px;
    }

    .Titulo-Contactame-Exp{
        font-size: 50px;
        margin-left: 20%;
    }

    .Boton-Enviar-Exp{
        margin-bottom: 5%;
        font-size: 25px;
    }

    .Texto-Servicio-Mensual-Serv{
        margin-left: 36%;
    }

    .Texto-Servicio-Anual-Serv{
        margin-right: 25%;
    }

    .Titulo-Contactame-Serv{
        font-size: 50px;
        margin-left: 20%;
    }

    .Boton-Enviar-Serv{
        margin-bottom: 5%;
        font-size: 25px;
    }

    .Titulo-Contactame-Con{
        font-size: 50px;
        margin-left: 20%;
    }

    .Boton-Enviar-Con{
        margin-bottom: 5%;
        font-size: 25px;
    }
}